<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Chain App Dev - App Landing Page HTML5 Template</title>


    <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/assets/css/animated.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body>





    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2 style="font-size: 45px;">La Carte Nationale d’Identité Electronique
                                            (CNIE)</h2>
                                        <p style="width: 450px;">Un nouveau titre identitaire hautement sécurisé,
                                            permettant à tout citoyen de
                                            bénéficier d'une identification sûre et fiable, et d‘un moyen d’accès simple
                                            et sécurisé aux services numériques.</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="white-button first-button">
                                            <a routerLink="/pre-demande">Créer votre PRÉ-DEMMANDE</a>
                                        </div>
                                        <div class="white-button">
                                            <a routerLink="/suivre-demande">SUIVRE MA DEMANDE</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img style="width: 600px;"
                                    src="/assets/images/Carte_identité_électronique_marocaine_(2020,_recto).png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h4>Nos <em>Services</em> pour la Carte Nationale d'Identité Électronique</h4>
                        <img src="/assets/images/heading-line-dec.png" alt="">
                        <p>Facilitez vos démarches administratives avec nos services en ligne pour la Carte Nationale
                            d'Identité Électronique (CNIE).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="service-item first-service">
                        <div>
                            <img style="width: 90px;" src="../../../assets/images/carte-icon.jpg" alt="">
                        </div>
                        <h4>Première Demande</h4>
                        <p>Effectuez votre première demande de Carte Nationale d'Identité Électronique en toute
                            simplicité.</p>
                        <div class="text-button">
                            <a href="#">Commencer <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item second-service">
                        <div>
                            <img style="width: 90px;" src="../../../assets/images/new.png" alt="">
                        </div>
                        <h4>Renouvellement</h4>
                        <p>Renouvelez votre carte d'identité rapidement et facilement via notre plateforme en ligne.</p>
                        <div class="text-button">
                            <a href="#">Renouveler <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item third-service">
                        <div>
                            <img style="width: 80px;" src="../../../assets/images/newsuivre.png" alt="">
                        </div>
                        <h4>Suivi de Demande</h4>
                        <p>Suivez l'état de votre demande de carte d'identité en temps réel à chaque étape du processus.
                        </p>
                        <div class="text-button">
                            <a href="#">Vérifier <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="about" class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="section-heading">
                        <h4>À propos de la <em>Carte Nationale d'Identité Électronique</em></h4>
                        <img src="/assets/images/heading-line-dec.png" alt="">
                        <p>La Carte Nationale d'Identité Électronique (CNIE) est un document officiel hautement sécurisé
                            qui offre aux citoyens un moyen moderne et fiable de prouver leur identité.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">Sécurité Renforcée</a></h4>
                                <p>Technologies de pointe pour prévenir la fraude et protéger votre identité.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">Support Complet</a></h4>
                                <p>Assistance disponible pour toutes vos questions et démarches.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">Services Numériques</a></h4>
                                <p>Accès simplifié aux services administratifs en ligne.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">Durée de Validité</a></h4>
                                <p>Carte valable pour une période de 10 ans pour les adultes.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p>La Carte Nationale d'Identité Électronique représente une avancée majeure dans la
                                modernisation de l'identification officielle, offrant simplicité, sécurité et
                                accessibilité.</p>
                            <div class="gradient-button">
                                <a href="/pre-demande">Commencer Votre Demande</a>
                            </div>
                            <span>*Processus 100% en ligne et sécurisé</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-image">
                        <img src="../../../assets/images/carte.jpg" alt="Carte Nationale d'Identité Électronique">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h4>Restez informé sur les dernières actualités de la CNIE</h4>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <form id="search" action="#" method="GET">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <fieldset>
                                    <input type="email" name="email" class="email" placeholder="Votre adresse email..."
                                        autocomplete="on" required>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <fieldset>
                                    <button type="submit" class="main-button">S'abonner <i
                                            class="fa fa-angle-right"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Contactez-nous</h4>
                        <p>Service National d'Identification</p>
                        <p><a href="tel:+212XXXXXXXXX">+212 XX XX XX XX XX</a></p>
                        <p><a href="mailto:contact@cnie.ma">contactcnie.ma</a></p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Nos Services</h4>
                        <ul>
                            <li><a href="/pre-demande">Première Demande</a></li>
                            <li><a href="/renouvellement">Renouvellement</a></li>
                            <li><a href="/suivre-demande">Suivi de Demande</a></li>
                            <li><a href="/cas-speciaux">Cas Spéciaux</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Informations Utiles</h4>
                        <ul>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/documents-requis">Documents Requis</a></li>
                            <li><a href="/tarifs">Tarifs</a></li>
                            <li><a href="/points-de-service">Points de Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>À Propos de la CNIE</h4>
                        <div class="logo">
                            <img src="../../../assets/images/maroc.png" alt="Logo CNIE">
                        </div>
                        <p>La Carte Nationale d'Identité Électronique : votre identité numérique sécurisée et moderne.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>© 2024 Service National d'Identification. Tous droits réservés.
                            <br>Plateforme officielle de demande de Carte Nationale d'Identité Électronique
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/assets/js/owl-carousel.js"></script>
    <script src="/assets/js/animation.js"></script>
    <script src="/assets/js/imagesloaded.js"></script>
    <script src="/assets/js/popup.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>

</html>