<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procédures - Carte Nationale d'Identité Électronique (CNIE)</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <main class="main-content">
        <div class="container">
            <h1>Procédures</h1>

            <section class="procedure">
                <h2>Demande d'une première délivrance</h2>
                <p>La CNIE est obligatoire pour tout citoyen âgé de 16 ans grégoriens révolus. Elle peut être délivrée
                    au mineur d’âge ayant moins de 16 ans, à la demande de son représentant légal. En cas d'une première
                    demande de CNIE, les pièces ci-dessous sont requises :</p>

                <ul>
                    <li><strong>Certificat de résidence délivré :</strong>
                        <ul>
                            <li>En milieu urbain par les services de la Police ;</li>
                            <li>En milieu rural par les services de la Gendarmerie Royale ou à défaut par l'autorité
                                administrative locale ;</li>
                            <li>Une attestation d'immatriculation consulaire mentionnant l'adresse pour les Marocains
                                Résidents à l'Étranger.</li>
                        </ul>
                    </li>
                    <li>Quatre photographies d'identité récentes, datées au maximum de 6 mois, conformes aux normes en
                        vigueur (voir la rubrique « normes recommandées pour les photographies d’identité »).</li>
                    <li>Droits de timbre 75 Dhs (institués par la législation en vigueur).</li>
                    <li>Copie de la page du livret de famille de l'intéressé(e) avec présentation de ce livret, ou une
                        copie intégrale du registre de l'état civil, ou un extrait d'acte de naissance (les deux
                        derniers documents doivent avoir une durée de validité n'excédant pas trois mois, et doivent
                        être en arabe et en latin).</li>
                    <li>Ampliation ou copie certifiée conforme de l'acte accordant la nationalité marocaine, pour les
                        étrangers ayant acquis ladite nationalité;</li>
                    <li>Certificat de nationalité portant le code de la nationalité marocaine, lorsque la nationalité
                        marocaine du requérant paraît douteuse;</li>
                    <li>Pour la demande d'inscription de la mention facultative "épouse", "veuve" ou "veuf", il faut
                        produire, selon le cas, les documents suivants:
                        <ul>
                            <li>Une copie certifiée conforme de l'acte de mariage;</li>
                            <li>Un extrait d'acte de naissance du conjoint;</li>
                            <li>Un extrait d'acte de décès du conjoint.</li>
                        </ul>
                    </li>
                    <li>S’il s’agit d’une demande de CNIE pour un mineur, la présence de ce dernier est obligatoire. Il
                        devrait obligatoirement être accompagné par son représentant légal qui doit présenter une copie
                        de sa Carte Nationale d’Identité Électronique ainsi qu’un document justifiant sa qualité.</li>
                    <li>Si vous avez rempli le formulaire de pré-demande, munissez-vous de ce formulaire dûment rempli.
                    </li>
                </ul>
            </section>

            <section class="procedure">
                <h2>Demande de renouvellement</h2>
                <p>Le renouvellement de la CNIE consiste à délivrer une nouvelle carte avec une durée de validité de 10
                    ans pour les personnes âgées de 12 ans et plus. Pour les mineurs de moins de 12 ans, la durée de
                    validité de la carte est de 7 ans au plus avec son expiration à l’âge de 12 ans.</p>

                <p>Dans le cas d'une demande de renouvellement, les pièces ci-dessous sont requises:</p>

                <ul>
                    <li><strong>Certificat de résidence délivré :</strong>
                        <ul>
                            <li>En milieu urbain par les services de la Police ;</li>
                            <li>En milieu rural par les services de la Gendarmerie Royale ou à défaut par l'autorité
                                administrative locale ;</li>
                            <li>Une attestation d'immatriculation consulaire mentionnant l'adresse pour les Marocains
                                Résidents à l'Étranger.</li>
                        </ul>
                    </li>
                    <li>Quatre photographies d'identité récentes, datées au maximum de 6 mois, conformes aux normes en
                        vigueur (voir la rubrique « normes des photographies »).</li>
                    <li>Droits de timbre institués par la législation en vigueur (75 Dhs pour les majeurs, ainsi que les
                        mineurs âgés de 12 ans grégoriens révolus et plus. 50 Dhs pour les mineurs ayant moins de 12 ans
                        grégoriens révolus).</li>
                    <li>Restitution de l'ancienne CNIE si elle n'est pas perdue ou volée.</li>
                    <li>En cas de perte, d’altération ou de vol de la CNIE, l’intéressé (ou son représentant légal s’il
                        s’agit d’un mineur) doit fournir une déclaration sur l’honneur établie par ses soins, ou signer
                        le formulaire préétabli par la DGSN.</li>
                    <li>En cas de modification du prénom, du nom ou de la date de naissance, ou en cas de rectification
                        du lieu de naissance, du numéro de l'acte de l'état civil ou de la filiation, il est nécessaire
                        de fournir les pièces administratives ou judiciaires attestant ces modifications selon les cas
                        présentés.</li>
                    <li>Pour la demande d'inscription de la mention facultative "épouse", "veuve" ou "veuf", il faut
                        produire, selon le cas, les documents suivants:
                        <ul>
                            <li>Une copie certifiée conforme de l'acte de mariage;</li>
                            <li>Un extrait d'acte de naissance du conjoint;</li>
                            <li>Un extrait d'acte de décès du conjoint.</li>
                        </ul>
                    </li>
                    <li>S’il s’agit d’une demande de renouvellement de CNIE pour un mineur, la présence de ce dernier
                        est obligatoire. Il devrait obligatoirement être accompagné par son représentant légal qui doit
                        présenter une copie de sa Carte Nationale d’Identité Électronique ainsi qu’un document
                        justifiant sa qualité.</li>
                    <li>Si vous avez rempli le formulaire de pré-demande, munissez-vous de ce formulaire dûment rempli.
                    </li>
                </ul>
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Gouvernement du Maroc. Tous droits réservés.</p>
        </div>
    </footer>
</body>

</html>